@import "tailwindcss";



/* azul */

   @theme {
  --color-brand-primary: #011627;    
  --color-brand-secondary: #fbfef9;  
  --color-brand-accent: #207bff;    
  --color-brand-accent-hover: #21b1ff;
} 
 

/*1 Gris oscuro profundo */
/*2 Hueso / Blanco sucio */
 /*3 Rojo coral vibrante */

 /* rojo */

/*   @theme {
  --color-brand-primary: #000000;    
   --color-brand-secondary: #fffffc;  
  --color-brand-accent: #ff0000;     
  --color-brand-accent-hover: #c83e2a;
}  */
 

/* verde */

/* 
  @theme {
  --color-brand-primary: #004b23;    
   --color-brand-secondary: #fffffc;  
  --color-brand-accent: #38b000;     
  --color-brand-accent-hover: #008000;
}  */